.border-Radius {
	border-radius: 5px;
}

.white {
	background-color: white;
}
.red {
	background-color: red;
	color: white;
}

.yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}

.green {
	background-color: green;
	color: white;
}

.sm {
	font-size: 12px;
	padding: 2px;
	font-weight: normal;
}

.md {
	font-size: 15px;
	padding: 3px 5px;
	font-weight: normal;
}

.lg {
	font-size: 20px;
	padding: 5px 10px;
	font-weight: bold;
}

.xl {
	font-size: 30px;
	padding: 8px 15px;
	font-weight: bolder;
}

.solid {
	border: none;
}

.ghost {
	border: none;
	background: none;
}

.outline {
	border: 2px solid black;
}
